body{background-color: #fff;}

.modal-footer > * {
    margin: 0;
}
img {vertical-align: baseline;}
/* Start Vedio */
#info{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.watch,
.watch:hover{border: none;}
.viwe{margin-bottom: 70px;}

#coment:hover,
.viwe:hover,
.viwe:focus{
 box-shadow: none;
 color: #fff !important;
 background-color: #F406FD !important;
}
.toggle #more{display: none;}
.toggle1 #more1{display: none;}
/* End Vedio */

/*Start Coment */
.Coment-vedeo .order-1{margin-top: 70px ;}
.Coment-vedeo .order-1 p{margin-bottom: 4px ;}

.Coment-vedeo .card h4,
.Coment-vedeo .card h3{font-size:20px;}
.Coment-vedeo .card-body button{font-size:10px;}
.Coment-vedeo .card-body{padding: 10px 10px 0px;}
.Coment-vedeo .card-inner {margin: 10px auto;}

.dropdown a{
    background-color: #F406FD !important;
    color: #fff;
}
.dropdown a:hover{
    background-color: #F406FD !important;
    color: #fff;
}
.dropdown .dropdown-item{
    background-color: #6101FC !important;
    cursor: pointer;
}
.watch-icon{cursor: pointer;}
.form-control{box-shadow: none !important;}

.card-img{
    max-width: 100%;
    height: auto ;
}
.card-inner{margin: 1px auto;}
/* End Coment */