@media(max-width:930px){
    .navbar #button,
    .navbar #input{display: none;}
    .navbar .search-icon{display: inline !important;}
    .sidebar .list-group{padding-top: 10px;}
}
@media(min-width:930px){
    body .container-fluid .search-input{display: none !important;}
}
@media(min-width:575px)and(max-width:595px){
    a#box-shadow{padding-left: 10px !important;}
}

@media(max-width:973px)and(min-width:931px){
    a#box-shadow{padding-left: 0px !important;}
}

@media(max-width:460px){
    .modal-footer button{font-size: 10px !important;padding: 6px !important;}
}
@media(max-width:323px){
    .card.watch .card-text h3{font-size: 20px !important;}
}
a#box-shadow {padding-left: 0 !important;}

@media(min-width:1025px){
    .watch{height: 100vh;}
}